@charset "UTF-8";
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.form-radios div:first-child {
  display: none; }

html {
  padding: 0;
  margin: 0;
  font-size: 62.5%; }

body {
  background: #cf0b22;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  color: #353535; }

a {
  text-decoration: none;
  color: #ededed; }
  a:hover {
    text-decoration: none;
    color: #353535; }

header {
  padding: 20% 0;
  text-align: center;
  height: 800px; }
  header p {
    width: 30%;
    float: left;
    margin-top: 7%;
    margin-left: 5%;
    text-align: left;
    color: #ededed;
    font-weight: 300;
    font-size: 2.8rem;
    line-height: 1.3;
    letter-spacing: .08rem; }
  header button {
    position: relative;
    border: none;
    font-size: 3.8rem;
    width: 31rem;
    margin-top: 10%;
    margin-left: 25%;
    height: 8rem;
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #353535;
    color: #ededed;
    box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
    box-shadow: 0 3px 1px rgba(0, 0, 0, 0.5); }
    header button:active {
      top: 1px;
      outline: none;
      box-shadow: none;
      border: 0; }
    header button:focus {
      outline: none; }
    header button a {
      text-decoration: none;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
      background: #353535;
      color: #ededed; }
      header button a:hover {
        text-decoration: none;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #353535;
        color: #ededed; }

h1 {
  font-family: "Great Vibes", cursive;
  font-size: 12rem;
  background: white;
  width: 100%;
  text-align: center;
  color: #353535;
  font-weight: 700; }

h1:before {
  content: '';
  background-image: url(../i/heartLogo.png);
  background-repeat: no-repeat;
  background-position: center top;
  z-index: -1;
  position: absolute;
  height: 500px;
  width: 100%;
  display: block;
  margin: -12% 0; }

p {
  color: #353535;
  font-size: 2.2rem; }

/*=========================================================================
QUIZ QUESTION STYLING
===========================================================================*/
main {
  width: 100%;
  margin: 0;
  padding: 0; }

.main {
  background: #209884;
  width: 100%;
  margin: 0;
  left: 0;
  color: #ededed;
  font-size: 2.4rem;
  line-height: 1.5; }

input[type="radio"] {
  -webkit-appearance: checkbox; }

.form-type-radios {
  padding: 2% 10%;
  font-size: 4.2rem; }
  .form-type-radios label {
    padding-bottom: 3%; }

.form-item-field-question-1-und label {
  margin-top: 5%; }

.form-radios {
  margin-left: 7%; }

.form-submit {
  position: relative;
  border: none;
  font-size: 3.8rem;
  width: 31rem;
  margin-top: 10%;
  margin-left: 39%;
  height: 8rem;
  text-transform: uppercase;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #353535;
  color: #ededed;
  box-shadow: inset 0 -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 1px rgba(0, 0, 0, 0.5); }
  .form-submit:active {
    top: 1px;
    outline: none;
    box-shadow: none;
    border: 0; }
  .form-submit:focus {
    outline: none; }
  .form-submit:hover {
    text-transform: uppercase;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
    background: #353535;
    color: #ededed; }

footer {
  background: blue; }

section.col-sm-9 {
  width: 100%;
  padding: 0; }

/*====================================================================
RESULTS
=================================================================*/
.final_results {
  background: #d85e0b;
  width: 100%;
  margin-top: 5%;
  padding: 10%;
  padding-top: 3%; }

.single_candidate {
  margin-top: 8%;
  font-size: 4rem;
  padding-bottom: 10%; }

.final_results div.single_candidate:first-child {
  border-bottom: 1px solid white; }

.final_results div.single_candidate:first-child h2 {
  font-size: 10rem;
  width: 100%; }
  .final_results div.single_candidate:first-child h2:before {
    content: 'Your best match is:';
    display: block;
    font-size: 6rem;
    color: #353535; }

.final_results div.single_candidate.before_photo:first-child .mm_score {
  font-size: 12rem;
  color: #ededed; }

.final_results div.single_candidate.before_photo:first-child .mm_summary {
  font-size: 5rem;
  color: #ededed;
  text-transform: initial; }
  .final_results div.single_candidate.before_photo:first-child .mm_summary:after {
    content: '”'; }
  .final_results div.single_candidate.before_photo:first-child .mm_summary:before {
    content: '“'; }

.overlay {
  display: none; }

.mm_score {
  font-size: 7rem;
  width: 100%; }

.mm_summary {
  font-size: 2.5rem;
  color: #ededed;
  text-transform: initial; }
  .mm_summary:after {
    content: '”'; }
  .mm_summary:before {
    content: '“'; }

.before_photo {
  float: left;
  width: 60%; }

.after_photo {
  width: 40%;
  padding: 1%;
  float: right; }

.mm_name {
  font-size: 4rem; }

.single_candidate img {
  border-radius: 15px;
  padding-left: 1%; }
