@import '_type';
@import '_clearfix';
// @import '_heart';


.form-radios div:first-child {
	display: none;
}

html {
	padding: 0;
	margin: 0;
	font-size: 62.5%;
}

body{
	background: $mainPink;
	padding: 0;
	font-family: $text;
	margin: 0;
	color: $black;
}


header {
	padding: 20% 0;
	text-align: center;
	height: 800px;
	& p {
		width: 30%;
		float: left;
		margin-top: 5%;
		margin-left: 4%;
		text-align: left;
		color: $white;
		font-weight: 300;
	}
	
}


h1 {
	font-family: $header;
	font-size: 12rem;
	background: white;
	width: 100%;
	text-align: center;
	color: #353535;
	font-weight: 700;

}

h1:before {
	content:'';
	background-image: url(../i/heartLogo.png);
	background-repeat: no-repeat;
	background-position: center top; 
	z-index: -1;
	position: absolute;
	height: 500px;
	width: 100%;
	display:block;
	margin: -12% 0;


}

p {
	color: $black;
	font-size: 2.2rem;
}




/*=========================================================================
QUIZ QUESTION STYLING
===========================================================================*/

main {
	// position: relative;
	width: 100%;
	margin: 0;
	padding: 0;

}

.main {
	
	// top: 100%;
	// min-height: 100%;
	background: purple;
	width: 100%;
	margin: 0;
	left: 0;
	color:$white;
	border: 1px solid blue;
	padding: 10%;
	font-size: 2.4rem;
	line-height: 1.5;
}


footer {
	// position: fixed;

	background: blue;
	// width: 100%;

}

footer.footer.container {
	// width: 100%;
}

section.col-sm-9 {
	width: 100%;
	padding: 0;
}


.final_results {
	background: yellow;
	width: 500px;
	height: 200px;
	border: 1px solid black;
}